*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto",sans-serif;
}
nav{
    box-shadow: 5px 5px 5px rgba(1,1,1,0.05);
    position:sticky;
    top:0;
    margin: bottom 32px;
    background: white;
    padding: 10px;
    z-index:50;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    

}
.logo{
   width: 88px;
  margin-bottom: 2px;
  border-radius: 50%;
}
.nav_links {
  display: flex;
  gap: 30px;
  list-style: none;
  text-decoration: none;
}
.nav_links:hover{
  color: pink;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.bar_icon{
    font-size: 24px;
}

.hero{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.hero_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tag{
    background-color: green;
    padding: 5px 10px;
    color: white;
    align-self: flex-start;
}
.hero_content h1{
    font-size: 72px;
    line-height: 1.2;
    font-weight: 400;
}
button{
    padding:10px 15px;
    border:none;
    transition: 0.2s  ease-in-out;
}
button:hover{
    opacity:0.8;
    transition: 0.2s ease-in-out;
}
.hero_image{
        display: flex;
        justify-content: center;
         clip-path: circle(50%);
    }
.explore_btn{
    background-color: orange;
    align-self: flex-start;
}
@media(max-width:786px){
    .hero{
        flex-direction: column;
    }
    .hero_image{
        display: flex;
        justify-content: center;
         clip-path: circle(50%);
    }
    .hero_image img{
        width:100%;
       
    }
    .hero_content{
        gap: 10px;
        padding:10px;
    }
    .hero_content h1{
        font-size:32px;
    }
}
.features {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  justify-content: center;
  margin-bottom: 50px;
}
.feature {
  display: inline-flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  transition: 0.2s ease-in-out;
  text-align: center;
}
.feature img {
  width: 72px;
  display: block;
  margin: 0 auto;
  
}
.feature:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
}
.divider {
  border: 1px solid #ccc;
  margin: 20px 0;
}


.menu{
    display: flex;
    flex-direction: column;
gap: 50px;
margin: 50px 0;
align-items: center;
}
.menu .tag{
    align-self: center;

}
.grid {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
}

.item1{
  grid-area: I1;
}
.item2{
  grid-area: I2;
}
.item3{
  grid-area: I3;
}
.item4{
  grid-area: I4;
}
.item5{
  grid-area: I5;
}
.item6{
  grid-area: I6;
}
.item7{
  grid-area: I7;
}
.grid-image{
    border-radius: 10px;
    width:100%;
    height: 100%;

}
.grid-image:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}
.features{
    flex-direction: column;
}
.feature{
    flex-direction: column;
}
.grid{
    padding:10px;

}
.grid-image{
    border-radius: 0px;
}
footer {
  background-color: #fff0db;
}
.link_lists h3 {
  margin-bottom: 10px;
  color: gray;
}
.link_lists ul {
  list-style: none;
}
.link_lists ul li {
  font-size: 16px;
  margin-bottom: 5px;
}
.news_letter h3 {
  margin-bottom: 10px;
  color: gray;
}
.news_letter input {
  padding: 5px 40px;
  margin-bottom: 10px;
}
.footer_container {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.footer_logo img{
width: 200px;
padding: 0;
}

.icon_container {
  display: flex;
  gap: 15px;
  font-size: 32px;
}
@media (max-width: 786px) {
  .hero {
    flex-direction: column;
  }

  .hero_image {
    display: flex;
    justify-content: center;
  }
  .hero_image img {
    width: 80%;
  }
  .hero_content {
    gap: 10px;

    padding: 0 20px;
  }
  .hero_content h1 {
    font-size: 32px;
  }
  .features {
    flex-direction: column;
  }
  .feature {
    flex-direction: column;
  }
  .grid {
    padding: 10px;
  }
  .grid-image {
    border-radius: 0px;
  }
  .footer_container {
    flex-direction: column;
  }
  @media (max-width: 992px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .features {
    flex-direction: column;
  }
}
@media (max-width:375px) {
    nav ul {
    flex-direction: row;
    text-align: center;
  }
.footer_container {
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}
.link_lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer_logo img{
width: 200px;
margin-bottom: 20px;
display: block;
}
}
}
